.tab {
  padding: 50px 0;
  &__btns {
    margin-bottom: 12px;

    display: flex;
    background-color: #fff;
    border-radius: 14px;
    overflow: hidden;
  }

  &__btn {
    flex-grow: 1;
    width: 50%;
    border-radius: 14px;
    padding: 8px 2px;
    background: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.4);

    &.active {
      background-color: #17222d;
      color: #fff;
    }
  }

  &__panel {
    display: none;
    &[data-visible="true"] {
      display: block;
    }
  }
}

.order {
  border-radius: 10px;
  padding: 16px 12px;
  background-color: #fff;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__id {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.04em;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.04em;
  }

  &__date {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.5);
  }

  &__status {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.04em;
  }

  &__items {
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__text {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.04em;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__btn {
  }
}

.transaction-card {
  border-radius: 10px;
  padding: 8px 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 4px;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.04em;
  }

  &__icon {
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__text {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.6);
  }
}

.deposit {
  &__title {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
  }

  &__box {
  }

  &__label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.4);
  }

  &__field {
    margin-bottom: 4px;

    border-radius: 10px;
    padding: 12px 12px;
    background: #fff;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__hints {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__hint {
    border-radius: 4px;
    padding: 4px 8px;
    background: #fff;

    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.04em;

    flex-grow: 1;
    &:active {
      scale: 0.97;
    }
  }
}

.orders-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.orders-empty {
  font-weight: 400;
  font-size: 12px;
  line-height: 134%;
  letter-spacing: 0.04em;
  text-align: center;
}

.orders-upload {
  &[data-visible="false"] {
    display: none;
  }
  order: 1;
}
